@import "~bootstrap/scss/bootstrap";

body {
  font-size: 18px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.row > * {
  padding-left: 0;
  padding-right: 0;
}

.white-bg {
  background-color: white;
  color: black;
}

.black-bg {
  background-color: rgb(25, 25, 25);
  color: white;
}

.page {
  height: calc(100vh - 178px);

  &.landing-page {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

    & > div {
      position: relative;
      vertical-align: middle;
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  &.roadmap-page {
    padding-top: 200px;
    .question {
      margin: 20px 0;
      font-size: 20px;
      .question-no {
        font-size: 28px;
      }
    }
  }
}

img {
  width: 30%;
}

img.snake {
  width: 50%;
  transform: rotate(90deg);
  position: absolute;
  top: 0;
  left: 0;
  top: -70px;
}

.header {
  & > div {
    z-index: 1;
  }
  a {
    color: inherit;
    font-size: 30px;
    text-decoration: unset;
    text-transform: uppercase;
  }
}

.footer {
  font-weight: bold;
  .white-bg {
    padding: 0 10px;
    .slippage {
      text-align: right;
      display: flex;
      align-items: end;
    }
    .community-links {
      border: 3px solid black;
      width: fit-content;
      padding: 5px;
      a {
        padding: 0 5px;
        img {
          width: 33px;
          height: 33px;
        }
      }
    }
  }
  .black-bg {
    padding: 0 10px;
    font-style: italic;
    align-items: end;
  }
}

@media only screen and (max-width: 720px) {
  .header {
    a {
      font-size: 18px;
    }
  }
  .page {
    height: calc(100vh -138px);
    .snake {
      z-index: 0;
      top: -70px;
    }
    img {
      z-index: 1;
    }
    &.roadmap-page {
      height: auto;
      padding: 30px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .header {
    .black-bg {
      background-color: white;
      color: black;
    }
    a {
      font-size: 14px;
    }
  }
  .footer {
    .black-bg {
      background-color: white;
      color: black;
    }
    a {
      font-size: 14px;
    }
  }
  .page {
    height: calc(100vh -180px);
    .snake {
      top: -80px;
    }
  }
}

.text-line-through {
  text-decoration: line-through;
}
